<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"> </head>
<body>
    <div  th:replace="~{fragments/topmenu :: topMenu}"></div>
    <div class="wrapper mt-5 mb-5">
        <div th:replace="~{fragments/leftmenu :: sidebar}"></div>
        <div class="content" id="mainContent">
            <!--    breadcrumb -->
             <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
            <!--  content -->
            <div th:replace="~{fragments/modal :: globalModal}"></div>
            <div th:replace="~{fragments/toast :: toast}"></div>
            <div class="card text-bg-light mt-5 mb-3">
                <div class="card-header"><strong>Event Type Info</strong></div>
                <div class="card-body" th:object="${eventType}">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Event Type</label>
                        <div class="col-sm-8">
                            <span th:text="${eventType.eventType}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Created At</label>
                        <div class="col-sm-8">
                            <span th:text="${#temporals.format(eventType.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Last Updated</label>
                        <div class="col-sm-8">
                            <span th:text="${#temporals.format(eventType.updatedAt, 'dd-MM-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>