<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"> </head>
<body>
    <div  th:replace="~{fragments/topmenu :: topMenu}"></div>
    <div class="wrapper mt-5 mb-5">
        <div th:replace="~{fragments/leftmenu :: sidebar}"></div>
        <div class="content" id="mainContent">
            <!--    breadcrumb -->
             <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
            <!--  content -->
            <div th:replace="~{fragments/toast :: toast}"></div>
            <!-- Form -->
            <form id="eventForm" method="post" th:object="${eventTypeDTO}"  class="row needs-validation" novalidate>
                <div class="card mb-3 mt-5">
                    <div class="card-header"><strong>Country Info</strong></div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input type="hidden" name="id" th:value="${eventType.getId()}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Event Type<span class="text-danger"><sup>*</sup></span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" th:field="${eventTypeDTO.eventType}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-danger" th:href="@{/eventType/display(id=${eventType.getId()})}">Cancel</a>
                        <button id="btnSubmitEvtform" class="btn btn-success me-md-2" type="submit"><span id="spanSave">Save</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>